<!-- tab3.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onSearch($event)"></ion-searchbar>

  <!-- Mostrar el filtro actual y el botón para quitar el filtro -->
  <div *ngIf="parametro" class="filtro-section">
    <p>Filtrado por: {{ parametro }} <ion-icon name="close" (click)="quitarFiltro()" style="cursor: pointer;"></ion-icon></p>
  </div>  

  <!-- Mostrar el botón para ver categorías cuando no hay filtro -->
  <ion-button *ngIf="!parametro" expand="full" color="primary" (click)="verCategorias()" class="ver-categorias-button">
    Ver Categorías
  </ion-button>

  <ion-list>
    <ion-row class="custom-row">
      <ion-col size="12" size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let articulo of misArticulos" class="custom-col">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ articulo.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img [src]="articulo.imagen" class="custom-img"></ion-img>
            <p class="descripcion">{{ articulo.descripcion }}</p>
            <p class="precio">{{ articulo.precio | currency }}</p>

            <ion-item class="custom-quantity">
              <ion-button (click)="decrementarCantidad(articulo)" [disabled]="articulo.cantidad <= 1">-</ion-button>
              <ion-input type="text" [(ngModel)]="articulo.cantidad" readonly class="quantity-input"></ion-input>
              <ion-button (click)="incrementarCantidad(articulo)">+</ion-button>
            </ion-item>
          </ion-card-content>

          <ion-row class="custom-buttons-row">
            <ion-col>
              <ion-button color="success" (click)="agregarAlCarrito(articulo)" [disabled]="articulo.cantidad < 1">
                Añadir al carrito
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="primary">
                Comprar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
  
</ion-content>
