<ion-header [translucent]="true" class="color">
  <ion-toolbar>
    <ion-title>BUSCAR PRODUCTOS</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Tab 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button routerLink="/carrito">Ver Carrito</ion-button>


<app-articulos [articulo]="misArticulos"></app-articulos>
 

 
</ion-content>