/* styles.scss o styles.css */

.custom-quantity {
    display: flex;
    align-items: center;
    width: fit-content; /* Ajusta el ancho según sea necesario */
}
  
.quantity-input {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 30px; /* Ajusta el ancho según sea necesario */
}
  

  