<ion-content>
  <ion-list *ngIf="productosEnCarrito.length > 0; else carritoVacio">
    <ion-item *ngFor="let item of productosEnCarrito">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.producto?.imagen"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.producto?.nombre }}</h2>
        <ion-item class="custom-quantity">
          <ion-button (click)="decrementarCantidad(item)" [disabled]="item.cantidad <= 1">-</ion-button>
          <ion-input type="text" [(ngModel)]="item.cantidad" readonly class="quantity-input"></ion-input>
          <ion-button (click)="incrementarCantidad(item)">+</ion-button>
        </ion-item>
        <p>Precio Unitario: {{ item.producto?.precio | currency }}</p>
        <p>Precio Total: {{ item.producto?.precio * item.cantidad | currency }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="eliminarDelCarrito(item)">
        Eliminar
      </ion-button>
    </ion-item>
    <p>Total: {{ total | currency }}</p>
  </ion-list>

  <ng-template #carritoVacio>
    <ion-text color="medium" class="ion-text-center">
      <p>El carrito está vacío</p>
    </ion-text>
  </ng-template>

  <ion-button expand="full" color="success" (click)="realizarPago()">Pagar</ion-button>
</ion-content>
