<!-- carrito.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of productosEnCarrito">
      <!-- ... -->
      <ion-label>
        <h2>{{ producto.producto.nombre }}</h2>
        <p>Cantidad: {{ producto.cantidad }}</p>
        <p>Precio Unitario: {{ producto.producto.precio | currency }}</p>
        <p>Precio Total: {{ (producto.producto.precio * producto.cantidad) | currency }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="eliminarDelCarrito(producto)">Eliminar</ion-button>
      <!-- ... -->
    </ion-item>
    <p>Cantidad: {{ total }}</p>
  </ion-list>
  <ion-button expand="full" color="success" (click)="realizarPago()">Pagar</ion-button>
</ion-content>
